.virtual-currency-actions {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  
.virtual-currency-actions .btn {
    margin-right: 10px;
  }
  
.virtual-currency-actions-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center; 
}

.virtual-currency-actions-card{
    margin-bottom: 15px;
}

.note {
  margin-bottom: 15px;
  padding: 0.5rem 0.6rem;
  background-color: #e7f3fe;
  border-left: 6px solid #4285f4;
}